/*
    <<< GENERAL STYLING >>>
*/

* {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.main {
    padding: 0 100px;
}

.ctn-image img {
    width: 100%;
    height: auto;
}

.icon {
    margin-right: 10px;
    margin-left: 5px;
}

.icon--blue {
    color: #3F6CAD;
}

.btn {
    background-color: #3F6CAD;
    color: white;
    border: none;
    border-radius: 5px;
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
}

.btn--green {
    background-color: #B5C236;
}

a {
    text-decoration: none;
}

.row {
    display: flex;
    align-items: center;
}

.row--stretch {
    align-items: stretch;
}

.row .heading--1 {
    flex-grow: 1;
}

/*
    <<< HEADER STYLING >>>
*/

header {
    width: 100%;
}

.nav {
    height: auto;
    padding: 20px;
}

.nav__bar {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
}

.nav__item {
    width: auto;
    flex-shrink: 0;
    padding: 10px;
}

.nav__item a {
    color: #3F6CAD;
    text-transform: uppercase;
    padding: 0 5px;
    font-size: 13px;
}

a.btn,
button.btn {
    color: white;
    padding: 5px 15px;

}

.logo {
    flex-grow: 1;
    flex-shrink: 1;
}

.logo .ctn-image {
    width: 150px;
}

/*
    <<< HERO STYLING >>>
*/

.hero {
    position: relative;
    height: 500px;
    overflow: hidden;
}

.hero .ctn-image {
    width: 100%;
}

.hero img {
    margin-top: -20%;

}

.hero__content {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    right: 0;
    margin-left: 60%;
    color: white;
    padding: 40px 100px 40px 40px;
}

.hero__content:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: -15%;
    width: 800px;
    background-color: rgba(63, 108, 173, .6);
    transform: skew(-10deg);
}

.hero__heading {
    margin-bottom: 20px;
}

.hero__text {
    margin-bottom: 20px;
}

.hero__hr {
    margin-bottom: 20px;
}
/*
    <<< SECTION >>>
 */

.section {
    position: relative;
    z-index: 2;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.12);
}

.section--white {
    background-color: white;
}
/*
    <<< PULL UP >>>
*/

.is-pull-up {
    margin-top: -200px;
}

/*
    <<< FORM >>>
 */

.label {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    color: #3F6CAD;
    margin-bottom: 5px;

}

.select {
    display: block;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 700;
    color: #3F6CAD;
    line-height: 1.3;
    padding: 5px 10px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    background-position: right .7em top 50%;
    background-size: .65em auto;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 5px;
    background: #3F6CAD;
    outline: none;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #B5C236;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #B5C236;
    cursor: pointer;
}
