.slider {
	-webkit-appearance: none;
	appearance: none;
	position: relative;
	width: 100%;
	height: 5px;
	background: $prim-color;
	outline: none;
	border-radius: 10px;
	
	&__container {
		width: 100%;
		
		@media (min-width: $breakpoint-tablet) {
			width: 530px;
		}
	}
	
	&::-webkit-slider-thumb {
		-webkit-appearance: none;
		appearance: none;
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background: $sec-color;
		cursor: pointer;
	}

	&::-moz-range-thumb {
		width: 25px;
		height: 25px;
		background: $sec-color;
		cursor: pointer;
	}
}
